
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/background.css">
    <link rel="stylesheet" type="text/css" href="css/player.css">
    <style>
    
    </style>

  </head>

  <body>

    


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav" style=" position: fixed;
width: 100%">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Emotionbase Music Player</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="products.html">Custom Music</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="store.html">Music</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   
  <div id="first">
    <center><h1 style="font-size: 20px;color: white;">Don't be sad... i will play song for you</h1></center>
  <!--<div id="second" class="second">

    <button onclick="myFunction()">
  </div>
  --><div id="queue" style="overflow:scroll;overflow-x:hidden;overflow-y:auto;" ><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Next Song<input type="button" id="next" onclick="nextsong()"><hr></div>


    <!--div id="queue"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Queue<input type="button" id="next" onclick="nextsong()"><hr></div>-->
    <script src="vendor/jquery/code.js"></script>

  <div id="third">
    <div id="emoji"></div>
    <div id="xyz">
    &nbsp;&nbsp;&nbsp;Playing :&nbsp;&nbsp;
    <label id="sname" align="center">none</label></div>
    <div id="mod">mode : Queue-mode <input type="radio" name="mode" checked="checked" onclick="setmod(this)" value="1"> <!--&nbsp;&nbsp;Emotion-mode <input type="radio" name="mode" onclick="setmod(this)" value="2">-->&nbsp;&nbsp;Random-mode 
      <input type="radio" name="mode" onclick="setmod(this)" value="3"></div>

    <audio controls id="main_slider">
      <source id="sel"  type="audio/mpeg">
Your browser does not support the audio element.
    </audio>

    <script>
  document.getElementById("main_slider").onended=function(){
    if(mod==1)
      next_in_Q();
    /*else if(mod==2){
      getTime();
    }*/
    else
      rand_play();
  };

    </script>
    <h1 font-family="verdana" align="center" style="font-size: 40px;color: white;margin: 0;">Music Player<h1>
    </div>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    

  </body>

</html>
